<div id="templatemo_wrapper">
    
    <div id="templatemo_map">
    
      <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Wolrd Map</a></li>
            <li><a href="#tabs-2">Country Info</a></li>
            <li><a href="#tabs-3">Comparison</a></li>
        </ul>
        <div id="tabs-1">
            <div id="visualization" style="width: 600px; height: 400px;"></div>
        </div>
        <div id="tabs-2">
            
        </div>
        <div id="tabs-3">
        
        </div>
      </div>
      
    </div>
    <div id="templatemo_main">
    
    	<div id="googleNews" class="three_column margin_r35 vertical_divider">
        	<h2>Google News</h2>
    			<p>Phasellus tempus, justo et laoreet varius, odio mi ultrices libero, nec   faucibus dui felis eu dui. Cras ac odio ac mi imperdiet sollicitudin.</p>  	
          <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque cursus velit at ornare. Donec augue lacus, porttitor in euismod a, convallis ut erat.</em></p>
            <div id="googleNews_content"> </div>
          <div class="button float_r"><a href="#">More News...</a></div>
            
        </div>
  		<div class="three_column margin_r35 vertical_divider">
        	<h2> YouTube Video</h2>
            <p>Suspendisse ullamcorper aliquam placerat. Integer fringilla felis eget libero ullamcorper lacinia. Curabitur ac magna et nisl luctus rhoncus.</p>
            <p> Curabitur euismod scelerisque lacus.   Cras pretium sem sed odio. Vestibulum nisl mauris, malesuada nec, dictum   in, molestie in, pede.</p>
          <ul class="templatemo_list">
                <li>Morbi sed nulla ac est cursus suscipit eu ac lectus.</li>
                <li>Curabitur ullamcorper nibh nisi, sed eleifend dolor.</li>
                <li>Pellentesque adipiscing sollicitudin sapien nec aliquet.</li>
          </ul>
            
            <div id="youtubeVideos_content"> </div>

          <div class="button float_r"><a href="#">More Videos...</a></div>

        </div>
         <div class="three_column">
         	<h2>About The Country</h2>
           <p>In leo tellus, porta sit amet luctus ac, condimentum quis odio. Cras vestibulum, ipsum tincidunt aliquet consequat. <a href="#">More...</a></p>
			<p>Maecenas dignissim, quam a posuere scelerisque, ligula arcu dictum   turpis, id tempus turpis erat at nulla. <a href="#">More...</a></p>
            
           <div class="button float_r"><a href="#">All Info...</a></div>
             
             <div class="cleaner_h30"></div>
             <h2>Quotes</h2>
                <blockquote>
                    <p>No war on the face of the Earth is more destructive than the AIDS pandemic.</p>
                    <cite>Colin Powell - <span>First African-American Secretary of State</span></cite>
                </blockquote>
        </div>
        
        <div class="cleaner"></div>
        
    </div>
</div> 
